/* Fonts conf */
@font-face 
{
    font-family: Font1thin;
    src: url('../fonts/JosefinSlab-Thin.ttf') format('truetype');
}

@font-face 
{
    font-family: Font1regular;
    src: url('../fonts/JosefinSlab-Regular.ttf') format('truetype');
}
@font-face 
{
    font-family: Font1bold;
    src: url('../fonts/JosefinSlab-Bold.ttf') format('truetype');
}

@font-face 
{
    font-family: Font2;
    src: url('../fonts/Cardo-Regular.ttf') format('truetype');
}

@font-face 
{
    font-family: Font3;
    src: url('../fonts/OldStandard-Italic.ttf') format('truetype');
}
/* End of fonts conf */

/** Image-links conf **/
/* Common parameters */
img {
	width:27px;
	height:27px;
	border:none;
}


.lien{display:inline-block;}

.lienimage
{
	position:absolute; 
	background: white; 
	display:inline;
}

.lienimage:hover
{
	text-decoration: none;
	border-style:none;
	outline-style:none;
	opacity:0;
 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;
}

a, .lien, .lienimage, .lliens 
{
	text-decoration: none;
	border-style:none;
	outline-style:none;
}

/* Specific prameters */
/*Change the background color when "hoved" */
.lienimagelinkedhov{background:#007FB1;border-style:none; outline-style:none;}

.lienimageviadeohov{background-color:#F4982B;}

.lienimagegithov{background-color:#4183C4;}

.lienimagegphov{background-color:#DD4B39;}

.lienimagetwitterhov{background-color:#DD4B39;}

.lienimageabouthov{background-color:#00405D;}
/** End of image-links conf **/

/* Content parameters (main data) */
br{height:20px; visibility:hidden; margin-bottom:-1px;}

.ligne
{
	border: 0;
	height: 2px;
	width: 60%;
	color: #e9e9e9;
	background-color: #e9e9e9;
}

.dscr
{
    width: 100%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
}

.lliens{margin: -0.1em 0 0 0;}

.nom
{
	font-family: Font1thin;
	font-size: 50px;
}

.prenom
{
	font-family: Font2;
	font-size: 50px;
}

.titre
{
	font-family: Font3;
	color: #848484;
	font-size: 20px;
	margin: 0.2em 0 0 0;
}
/* End of content parameters */


/* Modal window parameters */
.content {
	font-family: Font1regular;
	font-size: 15px;
}

.mail {
	font-family: Font1bold;
	font-size: 15px;
}
	
.close {
	font-size: 15px;
	background: #606061;
	color: #FFFFFF;
	line-height: 20px;
	position: absolute;
	right: -8px;
	text-align: center;
	top: -10px;
	width: 20px;
	text-decoration: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {background:black;}

.about {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.about:target {
  opacity:1;
  pointer-events: auto;
}
 
.about:target > div {
  margin: 15% auto;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
 
.about > div {
  max-width: 400px;
  position: relative;
  margin: 1% auto;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
  background: white;
  transition: all 0.8s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
 
h2 {
  margin:0;
  font-family: Font1thin;
  font-size: 20px;
  margin-bottom: 0; 
}

a{font-family: Font1regular;}

.source{
	text-decoration: none;
	font-size: 14px;
	padding-left:3em
}

.about > div section { padding:15px;}

.circular {
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	background: url(../images/Philippe.png) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}